<!DOCTYPE html>
<html lang="en" data-theme="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Transparence Media</title>
  <link rel="stylesheet" href="/static/pico.classless.min.css">
  <link rel="stylesheet" href="/static/custom.css">
</head>

<body>
  <header>
    <h1>Transparence Médias</h1>
    <nav>
      <a href="/">Liste des médias</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>

</html>
