body > header {
  padding: .5rem 1rem;
  /* margin: 0;  */
  /* max-width: initial; */
  border-bottom: 2px solid #333;
  background-color: rgba(255, 255, 255, .2);
}

body > header h1 {
  padding: 0;
  margin: 0;
  font-family: monaco;
}

body > main {
  padding-top: 2rem;
}

/* on index */
ul.logos-grid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  width: 100%;
}

li.logo {
  display: block;
  padding: .5rem .5rem .3rem .5rem;
  margin: .5rem;
  background-color: rgba(255, 255, 255, .5);
  list-style-type: none;
  width: 250px;
  text-align: center;
}
li.logo:hover {
  background-color: rgba(255, 255, 255, .6);
}
li.logo a {
  color: #222;
  text-decoration: underline;
}
li.logo a:hover {
  color: #000;
  text-decoration: none;
}
li.logo img {
  width: 250px;
  max-height: 100px;
  object-fit: contain;
  filter: grayscale(1);
  margin-bottom: .5rem;
}

/* on journal page */
img.logo {
  max-height: 100px;
}
