---
layout: mainLayout
---

<h2>Qui détient nos médias ?</h2>

<p>
  On dirait que le nombre de médias français détenus par des milliardaires ou liés à des multinationales est en hausse.
</p>

<p>
Evidemment, le propriétaire a une influence sur son journal. Mais quelle est son ampleur, ses formes ? Et puis, est-ce un problème ? Est-ce au contraire souhaitable, ou simplement inévitable ? Chacun se fera son avis librement.
</p>

<p>
  <b>
    Pour nourrir cette réfléxion, ce site expose les données de la possession des médias français.
  </b>
</p>

<ul class="logos-grid">
  {% for journal in collections.journal %}
    <li class="logo">
      <a href="/journaux/{{ journal.data.slug }}">
        <img src="/images/logos/{{ journal.data.wikipedia.imageFilename }}" alt="{{ journal.data.nom }}" />
        {{ journal.data.nom }}
      </a>
    </li>
  {% endfor %}
</ul>
