---js
{
  pagination: {
    data: "entites",
    size: 1,
    alias: "media",
    before: entites => entites.filter(e => !!e.journal)
  },
  permalink: "medias/{{ media.slug }}/",
  layout: "mainLayout"
}
---

<h1>{{ media.name }}</h1>

{% if media.journal.devise %}
  <blockquote>{{ media.journal.devise }}</blockquote>
{% endif %}

{% if media.depuis %}
  <p>créé en {{ media.depuis }}</p>
{% endif %}

<h3>Actionnaires Finaux</h3>

<img
  style="width: 500px; height: 300px; margin-bottom: 1rem;"
  src="/charts/chart-actionnaires-finaux-{{ media.id }}.png"
  alt="{{ media.name }} - Actionnaires Finaux"
  />

<ul>
{% for actionnaireId, part in actionnairesFinaux[media.id] %}
  <li>{{ actionnaireId }} : {{ part }}%</li>
{% endfor %}
</ul>

<h3>Détail des actionnaires</h3>

<img
  style=" margin-bottom: 1rem;"
  src="/charts/chart-graph-actionnaires-{{ media.id }}.dot.svg"
  alt="{{ media.name }} - Détail des Actionnaires"
  />
