body > header {
  padding: .5rem 1rem;
  /* margin: 0;  */
  /* max-width: initial; */
  border-bottom: 2px solid #333;
  background-color: rgba(255, 255, 255, .2);
}

body > header h1 {
  padding: 0;
  margin: 0;
  font-family: monaco;
}

body > main {
  padding-top: 2rem;
}


ul.logos-grid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 2rem;
}

li.logo {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 250px;
}
li.logo img {
  width: 250px;
  filter: grayscale(1)
}
